neofetch
dconf
nvim
pulse
systemd
cubocore
cava
cmus
calcurse
htop
khal
pwsafe
swayfx
todoman
JetBrains
cni
containers
joplin-desktop
menus
nextjs-nodejs
cef_user_data
btop
cache_directory/
gtk-2.0/
gtk-3.0/everforest-dark-b-lb/
gtk-3.0/everforest-dark-b/
gtk-3.0/everforest-dark-bl-lb/
gtk-3.0/everforest-dark-bl/
gtk-4.0/
rclone/
spotify-tui/
spotifyd/
stripe/
sway/wallpapers/bg-dark.jpg~
wireplumber/
