* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: 'JetBrains Mono', 'Fira Code', Cantarell, 'Ubuntu Mono', monospace;
  font-size: 13px;
}

window#waybar {
  /* #E9E2C9; */
  border-bottom: 0;
  color: #ffffff;
  /* #000000 */
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.top {
  background-color: #222a2a;
  border-radius: 5px;
}

window#waybar.apps {
  background-color: transparent;
  padding-bottom: 10px;
  margin-bottom: 4px;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #3F3F3F;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  border: none;
}

#workspaces {
  margin: 0 0 0 0;
}

#workspaces button,
#workspaces button:hover {
  background: transparent;
  /*#E9E2C9;*/
  color: #ffffff;
  /* #918A83; */
  box-shadow: none;
  padding: 0 5px;
  margin: 0 0;
  box-shadow: inherit;
  text-shadow: inherit;
  border-top: none;
  border-bottom: none;
  opacity: 0.5;
}

#workspaces button.focused,
#workspaces button.active {
  background: transparent;
  color: #ffffff;
  opacity: 1;
}

#workspaces button.urgent {
  background-color: #7A1405;
}

#mode {
  background-color: #64727D;
  border-top: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd,
#window,
#language {
  background: transparent;
  /* #E9E2C9; */
  padding: 4px;
  color: #ffffff;
  /* #583A24; */
  border-radius: 0;
  margin: 2px 0;
  border: 0px solid #7a1405;
}

#window {
  background: transparent;
  border: 0;
  color: #583A24;
}

#clock {
  margin-right: 4px;
}

#battery {}

#battery.charging,
#battery.plugged {}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #7a1405;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {}

#memory {}

#disk {}

#backlight {}

#network {}

#network.disconnected {}

#pulseaudio {}

#pulseaudio.muted {
  opacity: 0.5;
}

#wireplumber {}

#wireplumber.muted {}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {}

#temperature.critical {}

#tray {}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  opacity: 0.5;
}

#idle_inhibitor.activated {
  opacity: 1;
}

#mpd {}

#mpd.disconnected {}

#mpd.stopped {}

#mpd.paused {}

#language {}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state>label {
  padding: 0 5px;
}

#keyboard-state>label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}

#taskbar {
  background-color: #222a2a;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

#taskbar button {
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0 4px;
  border: none;
  box-shadow: none;
}

#taskbar button:hover {
  box-shadow: none;
  border: none;
}

#taskbar button.minimized {
  opacity: 0.5;
}